body {
    font-family: 'Cutive Mono', serif;
}
h1 {
    color: rgba(0,168,255,0.5);
    text-shadow: 3px 5px 0 rgba(255,0,180,0.5);
}
ul#audio {
    list-style: none;
}
ul#audio li {
    font-size: 1.5em
    margin: 10px
}
ul#audio li.speaking {
    font-size: 60px;
    color: rgba(0,168,255,0.5);
    text-shadow: 3px 5px 0 rgba(255,0,180,0.5);
    -webkit-transition: -webkit-filter ease-in-out 1.0s;
}
ul#audio li.speaking img {
    -webkit-filter: invert(1);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    -webkit-transform-origin: 50% 100%;
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
