body {
    font-family: 'Cutive Mono', serif;
}
ul#audio {
    list-style: none;
}
ul#audio li {
    font-size: 1.5em
    margin: 10px
}
ul#audio li img.speaking {
    -webkit-filter: invert(1);
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    -webkit-transform-origin: 50% 100%;
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
